{% load static %}
<!DOCTYPE html>

<html ng-app="App">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Smart-irrigation</title>

    <!-- Bootstrap core CSS -->
    <link 
    href='{% static "bootstrap/dist/css/bootstrap.min.css" %}'
    rel="stylesheet">
    <link 
    href='{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}' 
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" 
    href='{% static "styles/style.css" %}'>

  </head>

  <body>

    <div navbar></div>
   
    <div class="container" ui-view>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript -->
    <script 
    src='{% static "jquery/dist/jquery.min.js" %}'>
    </script>
    <script 
    src='{% static "bootstrap/dist/js/bootstrap.min.js" %}'>
    </script>

    <!-- Angular modules -->
    <script 
    src='{% static "angular/angular.min.js" %}'>
    </script>
    <script 
    src='{% static "angular-bootstrap/ui-bootstrap-tpls.min.js" %}'>
    </script>
    <script 
    src='{% static "angular-bootstrap/ui-bootstrap.min.js" %}'>
    </script>
    <script 
    src='{% static "angular-ui-router/release/angular-ui-router.min.js" %}'>
    </script>
    <script 
    src='{% static "angular-resource/angular-resource.min.js" %}'>
    </script>

    <!-- App -->
    <script 
    src='{% static "scripts/app.js" %}'>
    </script>
    <script 
    src='{% static "scripts/resources.js" %}'>
    </script>
    <script 
    src='{% static "scripts/directives.js" %}'>
    </script>

    <!-- Controllers -->
    <script 
    src='{% static "scripts/controllers/base.js" %}'>
    </script>    
    <script 
    src='{% static "scripts/controllers/home.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/config.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/plants.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/create-config.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/edit-config.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/sync.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/store.js" %}'>
    </script>
    <script 
    src='{% static "scripts/controllers/simul.js" %}'>
    </script>

  </body>
</html>