<div class="row">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">
	    	Current Status
	    </h3>
	  </div>
	  <div class="panel-body">
	  	Current status of your plant
	  </div>
	  <table class="table">
	  	<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-leaf">
    			</span>
    			Name
  			</td>
  			<td>
  				{{status.name}}
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-fire">
    			</span>
    			Temperature
  			</td>
  			<td>
  				{{status.temperature}} ºC
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-tint">
    			</span>
    			Humidity
  			</td>
  			<td>
  				{{status.humidity}} %
  			</td>
  		</tr>
	  </table>
	</div>

</div>

<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">
	    	Current Configuration
	    </h3>
	  </div>
	  <div class="panel-body">
	  	Current configuration of your plant
	  </div>
	  <table class="table">
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-fire">
    			</span>
    			Temperature
  			</td>
  			<td>
  				Min
  			</td>
  			<td>
  				X ºC
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-fire">
    			</span>
    			Temperature
  			</td>
  			<td>
  				Max
  			</td>
  			<td>
  				X ºC
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-tint">
    			</span>
    			Humidity
  			</td>
  			<td>
  				Min
  			</td>
  			<td>
  				X %
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-tint">
    			</span>
    			Humidity
  			</td>
  			<td>
  				Max
  			</td>
  			<td>
  				X %
  			</td>
  		</tr>
	  </table>
	</div>

</div>