<div class="row">
  <div class="alert alert-danger" role="alert"
  ng-if="status.state.temperature == 'HIGH'">
    Temperature is too high! Consider change to another
    place
  </div>
  <div class="alert alert-danger" role="alert"
  ng-if="status.state.temperature == 'LOW'">
    Temperature is too low! Consider change to another
    place
  </div>
  <div class="alert alert-info" role="alert"
  ng-if="status.state.watering">
    Watering...
  </div>
</div>

<div class="row">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">
	    	Current Status
	    </h3>
	  </div>
	  <div class="panel-body">
	  	Current status of your plant
	  </div>
	  <table class="table">
	  	<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-leaf">
    			</span>
    			Name
  			</td>
  			<td>
  				{{status.name}}
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-fire">
    			</span>
    			Temperature
  			</td>
  			<td>
  				{{status.temperature}} ºC
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-tint">
    			</span>
    			Humidity
  			</td>
  			<td>
  				{{status.humidity}} %
  			</td>
  		</tr>
	  </table>
	</div>

</div>

<div class="row">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">
	    	Current Configuration
	    </h3>
	  </div>
	  <div class="panel-body">
	  	Current configuration of your plant
	  </div>
	  <table class="table">
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-fire">
    			</span>
    			Temperature
  			</td>
  			<td>
  				Min
  			</td>
  			<td>
  				{{configuration.temperature.min}} ºC
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-fire">
    			</span>
    			Temperature
  			</td>
  			<td>
  				Max
  			</td>
  			<td>
  				{{configuration.temperature.max}} ºC
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-tint">
    			</span>
    			Humidity
  			</td>
  			<td>
  				Min
  			</td>
  			<td>
  				{{configuration.humidity.min}} %
  			</td>
  		</tr>
  		<tr>
  			<td>
  				<span 
    			class="glyphicon glyphicon-tint">
    			</span>
    			Humidity
  			</td>
  			<td>
  				Max
  			</td>
  			<td>
  				{{configuration.humidity.max}} %
  			</td>
  		</tr>
	  </table>
	</div>

</div>