<div class="row">
	<a class="btn btn-default" ui-sref="create-config">
		<span class="glyphicon glyphicon-plus"></span>
		Add
	</a>
</div>

<div class="row">
	<table class="table table-striped">
	  <thead>
	  	<tr>
	  		<td>Name</td>
	  		<td>User</td>
	  		<td></td>
	  	</tr>
	  </thead>
	  <tbody>
	  	<tr ng-repeat="plant in plants">
	  		<td>
	  			<a ui-sref="plant({id: plant.id})">
	  				{{plant.name}}
	  			</a>
	  		</td>
	  		<td>
	  			{{plant.creator}}
	  		</td>
	  		<td>
	  			<a href="" ng-click="deletePlant(plant)">
	  				<span class="glyphicon glyphicon-trash">
	  				</span>
	  			</a>
	  			<a ui-sref="sync({id:plant.id})"
	  			ng-if="!plant.synced">
	  				<span 
	  				class="glyphicon glyphicon-refresh">
	  				</span>
	  			</a>
	  			<a href="" ng-click="share(plant)"
	  			ng-if="!plant.store">
	  				<span class="glyphicon glyphicon-share">
	  				</span>
	  			</a>
	  		</td>
	  	</tr>
	  </tbody>
	</table>
</div>